<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net461" />
  <package id="Castle.Windsor.Lifestyles" version="0.4.0" targetFramework="net461" />
  <package id="GreenPipes" version="1.2.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MassTransit" version="3.5.7" targetFramework="net461" />
  <package id="MassTransit.CastleWindsor" version="3.5.7" targetFramework="net461" />
  <package id="MassTransit.Log4Net" version="3.5.7" targetFramework="net461" />
  <package id="MassTransit.RabbitMQ" version="3.5.7" targetFramework="net461" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net461" />
  <package id="mongocsharpdriver" version="2.4.4" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.4.4" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.4.4" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.4.4" targetFramework="net461" />
  <package id="NEventStore" version="5.2.0" targetFramework="net461" />
  <package id="NEventStore.Persistence.MongoDB" version="5.3.7" targetFramework="net461" />
  <package id="NewId" version="3.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="5.0.1" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
</packages>