<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--Configurações da Fila-->
    <add key="RabbitMQUri" value="rabbitmq://localhost/"></add>
    <add key="RabbitMQUserName" value="guest"></add>
    <add key="RabbitMQPassword" value="guest"></add>
    <add key="CommandQueueFullUri" value="rabbitmq://localhost/commands_queue"></add>
    <add key="CommandSchedulerQueueFullUri" value="rabbitmq://localhost/commands_scheduler_queue"></add>
    <add key="EventQueueFullUri" value="rabbitmq://localhost/events_queue"></add>
     <!--Configurações da Fila-->
    <add key="ReadModelDatabase" value="MongoDb"></add>
    <add key="LinkPadraoDoPacoteScorm" value="http://172.27.72.44/MarketPlaceFiles/Scorm/"></add>
  </appSettings>
  <connectionStrings>
    <add name="MongoIntegracaoTemporariaEventStore" connectionString="mongodb://localhost:27017/MarketPlaceIntegracaoTemporariaEventStore"></add>
    <add name="MongoDBEventStore" connectionString="mongodb://localhost:27017/MarketPlaceEventStore"></add>
    <add name="MongoEventGlobalVersionStore" connectionString="mongodb://localhost:27017/MarketPlaceEventGlobalVersionStore"></add>
    <add name="MongoUnpublishedEventStore" connectionString="mongodb://localhost:27017/MarketPlaceUnpublishedEventStore"></add>
    <add name="MongoProccessManagerCommandStore" connectionString="mongodb://localhost:27017/MarketPlaceProccessManagerCommandStore"></add>
    <add name="MongoCommandHandlerStore" connectionString="mongodb://localhost:27017/MarketPlaceCommandHandlerStore"></add>
    <add name="MongoEventHandlerStore" connectionString="mongodb://localhost:27017/MarketPlaceEventHandlerStore"></add>
    <add name="MongoReadModelStore" connectionString="mongodb://localhost:27017/MarketPlaceReadModelStore"></add>
    <add name="Default" connectionString="Data Source=localhost; Database=MarketPlace; Integrated Security=true;" providerName="System.Data.SqlClient" />
    <!--<add name="Default" connectionString="Data Source=localhost\sqlexpress; Database=MarketPlace; Integrated Security=true;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GreenPipes" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.96" newVersion="1.2.0.96" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NewId" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.17" newVersion="3.0.1.17" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>