<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net461" />
  <package id="Castle.Windsor.Lifestyles" version="0.4.0" targetFramework="net461" />
  <package id="GreenPipes" version="1.2.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MassTransit" version="3.5.7" targetFramework="net461" />
  <package id="MassTransit.CastleWindsor" version="3.5.7" targetFramework="net461" />
  <package id="MassTransit.Log4Net" version="3.5.7" targetFramework="net461" />
  <package id="NewId" version="3.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
</packages>