
@foreach (var previews in Model)
{
    <li>
        <figure>
            <a href="javascript:void(0)"><img src="@previews.Imagem" alt="@previews.Titulo" title="@previews.Titulo"></a>
        </figure>
    </li>
}   
