@using EDA.Poc.Pagamentos.Domain.Enums;

<section role="modal" class="with-action modal-preview">
    <div role="modal-container">
        <video src="#" id="video-preview" class="preview"></video>
        <img src="#" id="image-preview" class="preview active"></img>
    </div>
</section>