<section role="modal" class="with-action alert-default">
    <div role="modal-container">
        <article class="header-action">
            <h2 class="title">Atenção!</h2>
            <nav class="secondary-color">
                <button class="destaque-3 close-modal"><i class="fa fa-times"></i></button>
            </nav>
        </article>
        <article>
            <p class="msg">Mensagem de Atenção</p>
        </article>
        <p>
            <button class="btn-default col-offset-3 col-6">Ok!</button>
        </p>
    </div>
</section>